net:
    - net type: {{ lnet_eth0_net_type }}
      local NI(s):
        - nid: {{ ansible_host }}@{{ lnet_eth0_net_type }}
          interfaces:
              0: eth0
{% if lnet_eth1_net_type is defined %}
    - net type: {{ lnet_eth1_net_type }}
      local NI(s):
        - nid: {{ eth1_address }}@{{ lnet_eth1_net_type}}
          interfaces:
              0: eth1
{% endif %}
{% if (lnet_routing_enabled | default(false)) %}
routing:
    - enable: 1
{% endif %}
{% if routes is defined %}
route:
{% for lnet_route_to_net, lnet_route_gateway in routes.items() %}
    - net: {{ lnet_route_to_net }}
      gateway: {{ lnet_route_gateway }}
{% endfor %}
{% endif %}
