net:
    - net type: {{ lnet_eth0_net_type }}
      local NI(s):
        - nid: {{ ansible_host }}@{{ lnet_eth0_net_type }}
          interfaces:
              0: eth0
{% if lnet_eth1_net_type is defined %}
    - net type: {{ lnet_eth1_net_type }}
      local NI(s):
        - nid: {{ eth1_address }}@{{ lnet_eth1_net_type}}
          interfaces:
              0: eth1
{% endif %}
{% if (lnet_routing_enabled | default(false)) %}
routing:
    - enable: 1
{% endif %}
{% if routes is defined %}
route:
{% for endpoint_lnet, steps in routes.items() %}
    - net: {{ endpoint_lnet }}
      gateway: {{ steps[lnet_eth0_net_type] }}@{{ lnet_eth0_net_type }}
{% endfor %}
{% endif %}
