net:
    - net type: {{ lnet_eth0_net_type }}
      local NI(s):
        - nid: ansible_eth0.ipv4.address@{{ lnet_eth0_net_type }}
          interfaces:
              0: eth0
{% if lnet_eth1_net_type is defined %}
    - net type: {{ lnet_eth1_net_type }}
      local NI(s):
        - nid: ansible_eth1.ipv4.address@{{ lnet_eth1_net_type}}
          interfaces:
              0: eth1
{% endif %}
{% if (lnet_routing_enabled | default(false)) %}
routing:
    - enable: 1
{% endif %}
{% if lnet_route_to_net is defined %}
route:
    - net: {{ lnet_route_to_net }}
      gateway: {{ lnet_route_gateway }}
{% endif %}
